#!/bin/bash

# Location of the gits script relative to the project root.
GITS_PATH=".gits/bin"

# This is where gits looks for link files.
LINKS_PATH=".gits"

# This is where the subproject repository roots are stored.
SUBPROJECT_PATH="subprojects"

# The name of the master repository.
MASTER_REPO="master"

# Name of the file in which to store each project's version.
PROJECT_VERSION_FILE="project.version"

# These arrays are parallel, meaning each entry in the first array
# corresponds to the same index in the second array. Also note the
# lowercase nature of the local repos.

# When adding a repo, please be sure to place it in each array in
# alphabetical order and ensure that the local repo name is
# lowercase.

# Remote repositories to clone
declare -a REMOTE_REPOS=(
)

# Used to track the local subproject repository locations.
declare -a LOCAL_REPOS=(
	"kor-lib"
	"kor-metals"
	"kor-mortar"
)